@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200&display=swap');
* {
  box-sizing: border-box;
}
:root {
  --primary-clr: #122738;
  --secondary-clr: #27435a;
  --tertiary-clr: #7378c5;
}
body {
  background: var(--primary-clr);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-clr);
}
.search {
  background: transparent;
  border: 2px solid var(--tertiary-clr);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  color: white;
  font-family: inherit;
}
.search:focus {
  outline: 0;
  background-color: var(--primary-clr);
}

.search::placeholder {
  color: var(--tertiary-clr);
}
form {
  position: relative;
}
.search-icon {
  position: absolute;
  display: inline-block;
  color: var(--tertiary-clr);
  right: 20px;
  top: 10px;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-clr);
  position: relative;
  overflow: hidden;
}
.movie img {
  width: 100%;
}
.movie-info {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}
.movie-info h3 {
  margin-top: 0;
}
.movie-info span {
  background: var(--primary-clr);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}
.movie-info span.green {
  color: lightgreen;
}
.movie-info span.orange {
  color: orange;
}
.movie-info span.red {
  color: red;
}
.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}
.movie:hover .overview {
  transform: translateY(0);
}
